{% extends "layout.html.twig" %}

{% block head %}
    {{parent()}}
{% endblock %}
{% block body %}
    salut moi
    <div class="row small-up-1 medium-up-3 large-up-4">
  <div class="column">
    <img src="pics/block_nine.jpg" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="pics/bodega_lurton.jpg" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="pics/bouscat.jpg" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="pics/domaine_serene.jpg" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="pics/ex_umbris.jpg" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="pics/generic.jpg" class="thumbnail" alt="">
  </div>
   <div class="column">
    <img src="pics/lan_rioja.jpg" class="thumbnail" alt="">
  </div>
    <div class="column">
    <img src="pics/le_doyenne.jpg" class="thumbnail" alt="">
  </div>
   <div class="column">
    <img src="pics/lurton-pinot_gris.jpg" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="pics/margerum.jpg" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="pics/morizottes.jpg" class="thumbnail" alt="">
  </div>
   <div class="column">
    <img src="pics/rex_hill.jpg" class="thumbnail" alt="">
  </div>
   <div class="column">
    <img src="pics/saint_cosme.jpg" class="thumbnail" alt="">
  </div>
   <div class="column">
    <img src="pics/viticcio.jpg" class="thumbnail" alt="">
  </div>
</div>


{% endblock %}
