{% extends "layout.html.twig" %}

{% block head %}
    {{parent()}}
{% endblock %}
{% block body %}
    catalogue
    <div class="row small-up-1 medium-up-3 large-up-4">
  <div class="column">
    <img src="http://localhost/BelVins3.0/templates/pics/block_nine.jpg" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="http://localhost/BelVins3.0/templates/pics/bodega_lurton.jpg" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="http://localhost/BelVins3.0/templates/pics/bouscat.jpg" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="http://localhost/BelVins3.0/templates/pics/domaine_serene.jpg" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="http://localhost/BelVins3.0/templates/tpics/ex_umbris.jpg" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="http://localhost/BelVins3.0/templates/pics/generic.jpg" class="thumbnail" alt="">
  </div>
   <div class="column">
    <img src="http://localhost/BelVins3.0/templates/pics/lan_rioja.jpg" class="thumbnail" alt="">
  </div>
    <div class="column">
    <img src="http://localhost/BelVins3.0/templates/pics/le_doyenne.jpg" class="thumbnail" alt="">
  </div>
   <div class="column">
    <img src="http://localhost/BelVins3.0/templates/pics/lurton-pinot_gris.jpg" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="http://localhost/BelVins3.0/templates/pics/margerum.jpg" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="http://localhost/BelVins3.0/templates/pics/morizottes.jpg" class="thumbnail" alt="">
  </div>
   <div class="column">
    <img src="http://localhost/BelVins3.0/templates/pics/rex_hill.jpg" class="thumbnail" alt="">
  </div>
   <div class="column">
    <img src="http://localhost/BelVins3.0/templates/pics/saint_cosme.jpg" class="thumbnail" alt="">
  </div>
   <div class="column">
    <img src="http://localhost/BelVins3.0/templates/pics/viticcio.jpg" class="thumbnail" alt="">
  </div>
</div>


{% endblock %}
