{% extends "layout.html.twig" %}

{% block head %}
    {{parent()}}
{% endblock %}
{% block body %}
    catalogue
    <div class="row small-up-1 medium-up-3 large-up-4">
  <div class="column">
    <img src="localhost/BelVins3.0/templates/pics/block_nine.jpg" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="localhost/BelVins3.0/tpics/bodega_lurton.jpg" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="localhost/BelVins3.0/tpics/bouscat.jpg" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="localhost/BelVins3.0/tpics/domaine_serene.jpg" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="localhost/BelVins3.0/tpics/ex_umbris.jpg" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="localhost/BelVins3.0/tpics/generic.jpg" class="thumbnail" alt="">
  </div>
   <div class="column">
    <img src="localhost/BelVins3.0/tpics/lan_rioja.jpg" class="thumbnail" alt="">
  </div>
    <div class="column">
    <img src="localhost/BelVins3.0/tpics/le_doyenne.jpg" class="thumbnail" alt="">
  </div>
   <div class="column">
    <img src="localhost/BelVins3.0/tpics/lurton-pinot_gris.jpg" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="localhost/BelVins3.0/tpics/margerum.jpg" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="localhost/BelVins3.0/tpics/morizottes.jpg" class="thumbnail" alt="">
  </div>
   <div class="column">
    <img src="localhost/BelVins3.0/tpics/rex_hill.jpg" class="thumbnail" alt="">
  </div>
   <div class="column">
    <img src="localhost/BelVins3.0/tpics/saint_cosme.jpg" class="thumbnail" alt="">
  </div>
   <div class="column">
    <img src="localhost/BelVins3.0/tpics/viticcio.jpg" class="thumbnail" alt="">
  </div>
</div>


{% endblock %}
